---
import type { FrontmatterPage, IFrontmatter } from "@/components";
import {
  BlogGallery,
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from "@/components";

import { SubscribeForm } from "@/partials/SubscribeForm";
import Base from "@/templates/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import { sortByDate } from "@/utils/Posts";

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontmatter>("./*.md");
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 6 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;

const title = `${AppConfig.title} - Blog (${page.currentPage})`;
const description = "Tao Xu (hewig)'s Devlog";
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="Blog posts"
      description="A place to share my thoughts and experiences."
    />
  </Section>

  <Section>
    <BlogGallery postList={page.data} perColumn={2} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <SubscribeForm />
</Base>
